In [ ]:
bin(17) # bin is use for binary representation of anay number

'0b10001'

Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [ ]:
street = "street no 123"
city = "karachi"
country = "PAKISTAN"

address = street +"\n" + city + "\n" + country
print(address)

street no 123
karachi
PAKISTAN

In [ ]:
street_address = str(id(street))
print(street_address)

137240511665712

In [ ]:
street = "street no 123"
city = "karachi"
country = "PAKISTAN"

address = f"{street} \n  {city} \n  {country}"
print(address)

street no 123
  karachi
  PAKISTAN

Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [ ]:
sentence =  "Earth revolves around the sun"
sentence[6:14]

'revolves'

In [ ]:
sentence[-3:]

'sun'

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
heros[1:3] = ["docter strange"]
print(heros)

['spider man', 'docter strange', 'iron man', 'captain america']

india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
city = input("Enter your city name :")
if city in india:
  print(f"{city} is in india")
elif city in pakistan:
  print(f"{city} is in pakistan")
else :
  print(f"{city} is in bangladesh")

Enter your city name :khulna
khulna is in bangladesh

Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
Ask user to enter his fasting sugar level
If it is below 80 to 100 range then print that sugar is low
If it is above 100 then print that it is high otherwise print that it is normal

In [ ]:
fasCting_level = int(input("Enter your fasting sugar level :"))
if (fasCting_level<80):
  print(f"{fasCting_level} your sugar level is low")
elif (fasCting_level>100):
  print(f"{fasCting_level} your sugar level is high")
else:
  print(f"{fasCting_level} your sugar level is normal")

Enter your fasting sugar level :60
60 your sugar level is low

In [ ]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
num = 0
for item in result:
  if item == "heads":
    num += 1
print("heads occure :",num)

heads occure : 4

In [ ]:
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]

n = len(expense_list)
month = -1
e = int(input("Enter expence amount :"))
for i in range (n):
  if e == expense_list[i]:
    month = i
    break
  elif e> expense_list[i]:

    print(e)
  else:
    print("no expence money")

Enter expence amount :3000
3000
3000
3000
no expence money
3000

In [ ]:
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = int(input("Enter expense amount: "))

for i in range(len(expense_list)):
    if e == expense_list[i]:
        expence = expense_list[i]
        break
    elif e > expense_list[i]:
      print(f'You spent {e} in {month_list[month]}')
      break
    else:
     print(f'You didn\'t spend {e} in any month')
     break

Enter expense amount: 2350
You spent 2350 in May

In [ ]:
odd_sq = []
for num in range(10):
  if num %2== 0:
    continue
  else:
    odd_sq.append(num*num)
print(odd_sq)

[1, 9, 25, 49, 81]

In [ ]:
[num*num for num in range(11) if num%2 !=0 ]

[1, 9, 25, 49, 81]

In [ ]:
for i in range(1,6):
  a = ''
  for j in range(i):
   a += "*"
  print(a)

*
**
***
****
*****

Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 5 km then it should print congratulations message

In [ ]:
for i in range(5):
  print(f"you run {i+1} km")
  tired = input("are you tired :")
  if tired == "yes" or tired == "Yes":
    print("you didn't finish the race")
    break
  elif tired =="no" or tired == "No":
    continue
    print("are you tired :")

print(end='\n\n')
print("congratulation you complete the race")

you run 1 km
are you tired :no
you run 2 km
are you tired :no
you run 3 km
are you tired :yes
you didn't finish the race


congratulation you complete the race

In [ ]:
num = 29
flag = False
if num ==1:
  print({num}," is not a prime number")
elif num>1:
  for i in range(2, num):
    if (num % i ==0):
      flag = True
      break

  if flag:
    print(num, "is a prime number")
  else:
    print(num, " is not a prime number")

29  is not a prime number

In [ ]:
x = 2
y = 4
temp = x
x= y
y= temp
print(x,y)

4 2

In [ ]:
import random
print(random.randint(0,9))

3

In [ ]:
lower = 900
upper = 1000
print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
  if num>1:
    for i in range(2, num):
      if (num%i==0):
        break
    else:
      print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
num = 16
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

In [ ]:
def areatriangle(b,h):
  area = 0.5 * b * h
  return area

In [ ]:
areatriangle(5,10)

25.0

Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,

In [ ]:
def area(b,h,shape = "triangle"):
  if shape == "triangle":
    area = 0.5 * b * h
    #print("Area  of triangle is :", area)
  elif shape == "rectangle":
    area = b*h
    #print("Area  of rectangle is :", area)
  else:
    print("Error! shape is not triangle nor rectangle")
    area = None
  return (f"area of {shape} is :{area}")
#rectangle area=length*width

In [ ]:
area(5,4,"square")

Error! shape is not triangle nor rectangle

'area of square is :None'

Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

In [ ]:
def print_pattern(n):
  for i in range(n+1):
    print("*" * i)

In [ ]:
print_pattern(3)

*
**
***

In [ ]:
print_pattern(4)

*
**
***
****

You are given following list of stocks and their prices in last 3 days,

Stock	Prices
info	[600,630,620]
ril	[1430,1490,1567]
mtl	[234,180,160]
Write a program that asks user for operation. Value of operations could be,
print: When user enters print it should print following,
info ==> [600, 630, 620] ==> avg:  616.67
ril ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33

In [ ]:
info = [600,630,620]
ril = [1430,1490,1567]
mtl = [234,180,160]

Create a Dictionary which contains the Binary values mapping with numbers found in the below integer and binary and save it in binary_dict.
Example :

    integer = [0, 1, 2, 3, 4]
    binary = ["0", "1", "10", "11", "100"]
    binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}
  
  decimal_num = int(binary_num, 2)

In [ ]:
binary_dict = {}
integer = [0, 1, 2, 3, 4]
binary = [0, 1, 10, 11, 100]
#binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}

for i in integer:
    if i == 0 or i == 1:
      binary_dict = i
    if i > 1:
     a = int(i, 2)
     binary_dict.append(i)
for j in binary:
    if j == 0 or j == 1:
      binary_dict.append(j)
    if j > 1:
     a = int(j, 2)
     binary_dict.append(j)
print(binary_dict)

In [ ]:
def fabioncci(n):
  if (n<=1):
      value = n
  else:
      #value = (n-1) + (n-2)
      print(f"fabioncci of {n} is :",end =' ')
  return (n-1) + (n-2)

In [ ]:
fabioncci(5)

fabioncci of 5 is :

7

In [ ]:
def factorial(n):
  if (n<=1):
    return n
  else:
    return n * factorial(n-1)

In [ ]:
factorial(4)

24

In [ ]:
a = 5
b = 10
temp = a
a= b
b= temp
print(a,b)

10 5

In [ ]:
num = input("enter 4 digit number:")
num.reverse()

enter 4 digit number:4353

AttributeError: ignored

Write a program that will reverse a four digit number.Also it checks
whether the reverse is true.

In [ ]:
def reverse_number(num):
    reversed_num = 0
    while num > 0:
        remainder = num % 10
        reversed_num = reversed_num * 10 + remainder
        num //= 10
    return reversed_num
while True:
    num = input("Enter a four-digit number: ")
    if num.isdigit() and len(num) == 4:
        num = int(num)
        break
    else:
        print("Invalid input! Please enter a valid four-digit number.")
reversed_num = reverse_number(num)
if num == reversed_num:
    print("The number is a palindrome.")
else:
    print("The number is not a palindrome.")

Enter a four-digit number: 1001
The number is a palindrome.

In this program, the reverse_number function uses a while loop to reverse the digits of the input number. It repeatedly takes the last digit of the number using the modulo operator %, appends it to the reversed_num variable, and then removes the last digit from the input number using integer division //.

After reversing the number, the program checks if the reversed number is equal to the original number. If they are equal, the number is a palindrome; otherwise, it's not.

In this version of the program, the user is prompted to enter a number. The program then checks whether the input consists only of digits and has a length of 4. If the input is valid, it is converted to an integer and the loop is exited. If the input is invalid, an error message is displayed, and the loop continues until a valid input is provided. This ensures that the user enters only a four-digit number.

9. Write a program that take a user inputr of three angles and will
find out whether it can form a triangle or not.

In [ ]:
angle1 = float(input("enter first angle :"))
angle2 = float(input("enter second angle :"))
angle3 = float(input("enter third angle :"))
if angle1 + angle2 + angle3 == 180:
    print("The angles can form a triangle.")
else:
    print("The angles cannot form a triangle.")

enter first angle :18.5
enter second angle :100
enter third angle :61.5
The angles can form a triangle.

10. Write a program that will take user input of cost price and selling
price and determines whether its a loss or a profit

In [ ]:
cost = float(input("enter purchase price :"))
sell = float(input("enter selling price :"))
if cost < sell:
  profit = sell - cost
  print(f"you got {profit}RS profit")
elif cost == sell:
  print("no profit")
else:
  loss = cost - sell
  print(f"you got {loss}Rs loss")

enter purchase price :100
enter selling price :100
no profit

13. Write a program that will tell whether the given number is divisible
by 3 & 6.

In [ ]:
num = int(input("enter a number :"))
if (num %3 ==0) and (num %6 ==0):
  print("given number is divisible by 3 & 6")
elif num %3 ==0:
  print("given number is divisible by 3 but not divisible by 6")
elif num%6 ==0:
  print("given number is divisible by 6 but not divisible by 3")
else:
  print("given number is not divisible by 3 & 6")

enter a number :15
given number is divisible by 3 but not divisible by 6

41. Write a program to print the following pattern
*
**
***
****
*****

> Indented block

In [ ]:
a = 0
while a<5:
    s = "*" * a
    print(s)
    a +=1

*
**
***
****

42.Write a program to print the following pattern
*
**
***
**
*

In [ ]:
for num in range(0,4,1):
  #s = "*"
  print("*" * num)
for num in range(2,0,-1):
  #s = "*"
  print("*" * num)

*
**
***
**
*

In [ ]:
n = 3
for i in range(1, n + 1):
    print('*' * i)
for i in range(n -1, 0, -1):
    print('*' * i)

*
**
***
**
*

In [ ]:
a = 3
while a>0:
    s = "*" * a
    print(s)
    a -=1

***
**
*

Write a program to print the following pattern
 *
 * * *
 * * * * *
 * * * * * * *
* * * * * * * * *

In [ ]:
a = 1
while a<=10:
   if a % 2 != 0:
      s = "*" * a
      print(s)
   a +=1

*
***
*****
*******
*********

44. Write a program to print the following pattern
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
for i in range(1,6):
  for j in range(i):
    j += 1
    print(j, end =' ')
  for j in range(i-1,0,-1):
    print(j, end =' ')
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

45. Write a program to print the following pattern
1
2 3
4 5 6
7 8 9 10

In [ ]:
n=1
for i in range(1,5):
    for j in range(i):
        print(n, end=" ")
        n += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
sum = 0
length = 0
while True:
  num = float(input("Enter number :"))

  if num == 0:
    break
  sum += num
  length +=1
print(f"Sum of given {length} numbers is :",sum)
print("total numbers given :",length)
if sum == 0:
    print("no number entered")
else:
    average = sum/length
    print(f"average of {sum} is:",average)

Enter number :15
Enter number :18
Enter number :12
Enter number :0
Sum of given 3 numbers is : 45.0
total numbers given : 3
average of 45.0 is: 15.0

a = 48, b = 18

48 รท 18 = 2 remainder 12
a = 18, b = 12

18 รท 12 = 1 remainder 6
a = 12, b = 6

12 รท 6 = 2 remainder 0
a = 6, b = 0

Since the remainder is now 0, the GCD is 6.

In [ ]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

numerator = int(input("Enter the numerator: "))
denominator = int(input("Enter the denominator: "))

# Calculate the greatest common divisor (GCD)
common_divisor = gcd(numerator, denominator)

# Simplify the fraction
simplified_numerator = numerator // common_divisor
simplified_denominator = denominator // common_divisor

print(f"Simplified fraction: {simplified_numerator}/{simplified_denominator}")

Enter the numerator: 5
Enter the denominator: 15
Simplified fraction: 1/3

In [ ]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

numerator = int(input("Enter the numerator: "))
denominator = int(input("Enter the denominator: "))

# Calculate the greatest common divisor (GCD)
print(common_divisor)

Enter the numerator: 5
Enter the denominator: 15
5

In [ ]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

In [ ]:
gcd(5, 15)

5

In [ ]:
def squarecube(num):
  s = num **2
  c = num **3
  return s,c

In [ ]:
squarecube(5)

(25, 125)

In [ ]:
def factorial(n):
  if (n == 0):
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
print(factorial(5))

120

In [ ]:
num = int(input("Enter a number :"))
result = factorial(num)
print(result)

Enter a number :6
720

In [ ]:
dic ={}.fromkeys(["n1","n2","n3"],0)
print(dic)

{'n1': 0, 'n2': 0, 'n3': 0}

In [ ]:
for key in dic:
  print(key)

n1
n2
n3

In [ ]:
for value in dic:
  print(value)

n1
n2
n3

In [ ]:
print(dic.items())

dict_items([('n1', 0), ('n2', 0), ('n3', 0)])

In [ ]:
print(dic.keys())

dict_keys(['n1', 'n2', 'n3'])

In [ ]:
print(dic.values())

dict_values([0, 0, 0])

In [ ]:
for pair in dic.items():
  print(pair)

('n1', 0)
('n2', 0)
('n3', 0)

In [ ]:
d = {}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
dic

{'n1': 0, 'n2': 0, 'n3': 0}

In [ ]:
for k,v in dic.items():
  print("the dic " + k + " is " + str(v))

the dic n1 is 0
the dic n2 is 0
the dic n3 is 0

In [ ]:
dic

{'n1': 0, 'n2': 0, 'n3': 0}

In [ ]:
dic['n4'] = 0

In [ ]:
dic

{'n1': 0, 'n2': 0, 'n3': 0, 'n4': 0}

In [ ]:
del dic["n4"]

In [ ]:
dic

{'n1': 0, 'n2': 0, 'n3': 0}

In [ ]:
poped_item = dic.pop("n3")

In [ ]:
dic

{'n1': 0, 'n2': 0}

In [ ]:
poped_item = dic.pop("n4")

KeyError: ignored

In [ ]:
removed_item = dic.popitem()

In [ ]:
print(removed_item)

('n2', 0)

In [ ]:
dic

{'n1': 0}

In [ ]:
student = {
    'std1':{'name':'mohsin', 'age':21},
    'std2':{'name':'ahsan', 'age':23},
    'std3':{'name':'ali', 'age':25}
}

In [ ]:
print(student['std3']['name'])

ali

In [ ]:
student = {}
student['std1'] = {'name':'mohsin', 'age':21}
student['std2'] = {'name':'ahsan', 'age':23}
student['std3'] = {'name':'ali', 'age':25}

In [ ]:
print(student['std1']['age'])

21

In [ ]:
def message(name, greeting="hello"):
  print(f"{greeting} {name}!")

In [ ]:
message("mohsin")

hello mohsin!

In [ ]:
message("mohsin", "hi")

hi mohsin!

In [ ]:
def Calculate_total_cost(price, tax_rate=0.4 ,discount=0):
  total_cost = price +(price * tax_rate) - discount
  return total_cost

In [ ]:
Calculate_total_cost(100)

140.0

In [ ]:
Calculate_total_cost(100,0.08)

108.0

In [ ]:
Calculate_total_cost(100,discount=5)

135.0

In [ ]:
def print_args(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

print_args(1, 2, 3, a=4, b=5)

Positional arguments: (1, 2, 3)
Keyword arguments: {'a': 4, 'b': 5}

In [ ]:
def addition(*num):
  total = 0
  for n in num:
    print(f"sum of {total} + {n} is: ",total + n)
    total += n
  return total

In [ ]:
addition(1,2,3,4,5)

sum of 0 + 1 is:  1
sum of 1 + 2 is:  3
sum of 3 + 3 is:  6
sum of 6 + 4 is:  10
sum of 10 + 5 is:  15

15

In [ ]:
def HCF(a,b):
  while b:
    a, b = b, a % b
  return a
num1 = int(input("Enter first number :"))
num2 = int(input("Enter second number :"))
print(f"Thew HCF of {num1} and {num2} is :",HCF(num1,num2))

Enter first number :525
Enter second number :45
Thew HCF of 525 and 45 is : 15

In [ ]:
def GCF(numbers):
  gcf = numbers[0]
  for num in numbers[1:]:
    while num !=0:
      gcf, num =num, gcf % num
  return gcf
numbers = (15,21,27,90,48)
res = GCF(numbers)
print(res)

3

In [ ]:
def LCM(a,b):
  hcf = HCF(a,b)
  lcm = (a * b)/hcf
  return lcm

In [ ]:
num1 = int(input("Enter first number :"))
num2 = int(input("Enter second number :"))
print(f"Thew LCM of {num1} and {num2} is :",LCM(num1,num2))

Enter first number :20
Enter second number :50
Thew LCM of 20 and 50 is : 100.0

In [ ]:
def LCM_of_multiple_numbers(numbers):
  def find_lcm(a,b):
    return a * b // find_hcf(a,b)
  def find_hcf(a,b):
    while b:
      a, b =b, a%b
    return a
  lcm_result = numbers[0]
  for num in numbers[1:]:
    lcm_result = find_lcm(lcm_result, num)
  return lcm_result

numbers = (15,25,35,45)
lcm_result = LCM_of_multiple_numbers(numbers)
print(lcm_result)

1575

In [ ]:
15*25

375

In [ ]:
375//5

75

In [ ]:
75*35

2625

In [ ]:
2625//5

525

In [ ]:
525*45

23625

In [ ]:
23625//15

1575

In [ ]:
def areaoftriangle(l,h):
    area = l*h*0.5
    return area , l , h

In [ ]:
area, l, h = areaoftriangle(5,6)

In [ ]:
print(f"The area of triangle with length {l} and height {h} is {area} sq.m")

The area of triangle with length 5 and height 6 is 15.0 sq.m

In [ ]:
import math

In [ ]:
numbers = (15,25,35,45)
lcm_result = math.lcm(*numbers)
print(f"lcm of given {numbers} numbers is: {lcm_result}")

lcm of given (15, 25, 35, 45) numbers is: 1575

In [ ]:
import math

# Initialize an empty list to store the user-entered numbers
numbers = []

# Get the number of numbers the user wants to input
num_count = int(input("Enter the number of numbers: "))

# Loop to input numbers from the user
for i in range(num_count):
    num = int(input(f"Enter number {i + 1}: "))
    numbers.append(num)

# Calculate the LCM using the math.lcm() function
lcm_result = math.lcm(*numbers)

# Print the result
print(f"The LCM of {numbers} is {lcm_result}")

Enter the number of numbers: 6
Enter number 1: 12
Enter number 2: 18
Enter number 3: 24
Enter number 4: 30
Enter number 5: 36
Enter number 6: 47
The LCM of [12, 18, 24, 30, 36, 47] is 16920

In [ ]:
def afunction(*names):
  for name in names:
    print(f"Hello {name}")

In [ ]:
afunction("mohsin", "ahsan", "ali")

Hello mohsin
Hello ahsan
Hello ali

In [ ]:
def userprofile(first, last, **otherdetails):
   print(first)
   print(last)
   print(otherdetails)
   for i in otherdetails:
    print(i) #bydefault keys return
   for v in otherdetails.values():
    print(v)
   for k,v in otherdetails.items():
    print(k,v)

In [ ]:
userprofile(first="mohsin", last="Raza", college="SM Science college", university="Dawood university")

mohsin
Raza
{'college': 'SM Science college', 'university': 'Dawood university'}
college
university
SM Science college
Dawood university
college SM Science college
university Dawood university

In [ ]:
def userprofile(first, last, **otherdetails):
  profile = {}
  profile['first'] = first
  profile['last'] = last
  profile['others'] = otherdetails
  return profile

In [ ]:
userprofile(first="mohsin", last="Raza", age= 21, college="SM Science college", university="Dawood university")

{'first': 'mohsin',
 'last': 'Raza',
 'others': {'age': 21,
  'college': 'SM Science college',
  'university': 'Dawood university'}}

In [ ]:
def userprofile(first, last, **otherdetails):
  profile = {}
  profile['first'] = first
  profile['last'] = last
  for key,val in otherdetails.items():
    profile[key] = val
  return profile

In [ ]:
userprofile(first="mohsin", last="Raza", age= 21, college="SM Science college", university="Dawood university")

{'first': 'mohsin',
 'last': 'Raza',
 'age': 21,
 'college': 'SM Science college',
 'university': 'Dawood university'}