# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Mohsin", 25 , True , 12.5)

Mohsin 25 True 12.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Mohsin", 25 , True , 12.5, sep='-')

Mohsin-25-True-12.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [ ]:
print("Mohsin", end=' ')
print(25, end=' ')
print(True, end=' ')
print(12.5, end=' ')

Mohsin 25 True 12.5

4) Can a python print function take no value to print???

In [ ]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [ ]:
name = "Mr.Ahmed"
age = 30
profession = "lawer"
complete_bachelors_in_law = 2005
working_at =  "The Himalya Associates in karachi"
working_since =  2015
height = 5.10
weight_in_g = 70600
income = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [ ]:
years_passed_after_bachlor = working_since - complete_bachelors_in_law
print("years_passed_after_bachlor: " , years_passed_after_bachlor)

years_passed_after_bachlor:  10

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [ ]:
working_years = 2023 - working_since
print(working_years)

8

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [ ]:
income_in_dollars = income/288
print("income in dollars($):", income_in_dollars,"$")

income in dollars($): 694.4444444444445 $

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [ ]:
type(income_in_dollars)

float

In [ ]:
income_in_dollars = int(income_in_dollars)
print(income_in_dollars)

694

In [ ]:
type(income_in_dollars)

int

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [ ]:
type(weight_in_g)

int

In [ ]:
weight_in_kg = weight_in_g/1000
print(weight_in_kg)
type(weight_in_kg)

70.6

float

In [ ]:
weight_in_kg = int(weight_in_kg)
type(weight_in_kg)

int

11) print the year of birth of Mr. Ahmed.

In [ ]:
year_of_birth = 2023 - age
print(year_of_birth)

1993

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator

In [ ]:
total_amount = 100
num_students = 6

amount_per_student = total_amount // num_students
remaining_amount = total_amount % num_students

print("Amount per student:", amount_per_student)
print("Remaining amount:", remaining_amount)

Amount per student: 16
Remaining amount: 4

In [ ]:
if (remaining_amount==0):
  print("amount divide equally")
else:
  print("amount can't divide equally")

amount can't divide equally