In [ ]:
name = input("enter your name :")
age = int(input("enter your age :"))
print("your name is {} and your age is {}".format(name,age))

enter your name :Mohsin
enter your age :21
your name is Mohsin  and your age is 21

In [ ]:
name = input("enter your name :")
age = int(input("enter your age :"))
print(f"your name is {name} and your age is {age}")

enter your name :Mohsin
enter your age :21
your name is Mohsin  and your age is 21

In [ ]:
service_years =int(input("enter service years: "))
salary= int(input("salary amount: "))
if (service_years >= 5):
   bonus = salary * 0.05
   print("net bonus is: ", bonus)
else:
   print("sorry your service is less then 5 years")

enter service years: 5
salary amount: 100000
net bonus is 5000.0